In [36]:
import os
import pyarrow as pa
import pyarrow.parquet as pq
import pandas as pd
import numpy as np

# Load environments
from dotenv import load_dotenv
from sqlalchemy import create_engine
%load_ext dotenv
%dotenv

# Pandas display settings
pd.set_option('display.width', 2000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.precision', 4)
pd.set_option('display.max_colwidth', None)

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [2]:
params = {
    "host": "localhost",
    "port": os.getenv("MYSQL_PORT"),
    "database": os.getenv("MYSQL_DATABASE"),
    "user": os.getenv("MYSQL_USER"),
    "password": os.getenv("MYSQL_PASSWORD")
}
conn_info = (
        f"mysql+pymysql://{params['user']}:{params['password']}"
        + f"@{params['host']}:{params['port']}"
        + f"/{params['database']}")
print(f"Configs: {conn_info}")
conn = create_engine(conn_info)
conn

Configs: mysql+pymysql://root:admin123@localhost:3306/spotify

Engine(mysql+pymysql://root:***@localhost:3306/spotify)

In [3]:
sql = f"""
    SELECT *
    FROM spotify_artists;
"""
pd_artists = pd.read_sql(sql, conn)
pd_artists.head()

   number  artist_popularity  followers                                                         genres               artist_id                   name                track_id track_name_prev      type
0   35693                 39      19783                                ['finnish indie', 'suomi rock']  0027wHZDQXpRll4ckwDGad         Disco Ensemble  6Ovi0f2Ant45moF9zJNERx        track_19  artist\r
1   43665                 25       3609                                      ['south african hip hop']  002eDhqXlxtQHdaIKXyf3H                Blaklez  3Ic2TBdG6l6AC2kTHnnsNj        track_46  artist\r
2   55075                 42       6887  ['finnish dance pop', 'finnish pop', 'iskelma', 'suomi rock']  002oyMRzxTzEsBRLzACi8d                 Stella  2nWAYmsTPSpza7X5tY6ZrH        track_16  artist\r
3   17397                 32         41                                                             []  0036ceq10ETP3tGK3AHNcr               Digilake  5GYReX6TdN4iYguaSDPKtl        track_16  artist\r
4   22233                 68      54455            ['classical', 'classical performance', 'orchestra']  003f4bk13c6Q3gAUXv7dGJ  Wiener Philharmoniker  2cwLN0WGZYUvRiSmBJD9rq        track_40  artist\r

In [6]:
cols = pd_artists.columns.tolist()
pd_artists[cols].dtypes

number                int64
artist_popularity     int64
followers             int64
genres               object
artist_id            object
name                 object
track_id             object
track_name_prev      object
type                 object
dtype: object

In [10]:
pd_artists[cols].memory_usage(deep=True)

Index                    128
number                449032
artist_popularity     449032
followers             449032
genres               4582573
artist_id            4434191
name                 3931255
track_id             4434191
track_name_prev      3641079
type                 3592256
dtype: int64

In [14]:
pd_artists[cols].select_dtypes(int).describe()

          number  artist_popularity   followers
count  56129.000         56129.0000  5.6129e+04
mean   28064.000            34.3874  7.7960e+04
std    16203.191            16.9173  5.9423e+05
min        0.000             0.0000  0.0000e+00
25%    14032.000            22.0000  1.8200e+02
50%    28064.000            34.0000  1.7340e+03
75%    42096.000            46.0000  1.5203e+04
max    56128.000           100.0000  4.1562e+07

In [25]:
pd_artists[cols].astype({"number": "int16", "artist_popularity": "int8", "followers": "int32"}).select_dtypes("integer").memory_usage(deep=True)

Index                   128
number               112258
artist_popularity     56129
followers            224516
dtype: int64

In [42]:
pd_artists[cols].memory_usage(deep=True).sum() / (1024**2)

23.795751571655273

In [26]:
load_dtypes = {
    "number": "int",
    "artist_popularity": "int",
    "followers": "int",
    "genres": "list",
    "artist_id": "str",
    "name": "str",
    "track_id": "str",
    "track_name_prev": "str",
    "type": "str"
}

In [43]:
for col, data_type in load_dtypes.items():
    print(col, data_type)
    if data_type == "str":
        pd_artists[col] = pd_artists[col].fillna("")
        pd_artists[col] = pd_artists[col].astype(str)
        pd_artists[col] = pd_artists[col].str.strip()
        pd_artists[col] = pd_artists[col].str.rstrip()
        pd_artists[col] = pd_artists[col].str.replace("'", "")
        pd_artists[col] = pd_artists[col].str.replace('"', "")
        pd_artists[col] = pd_artists[col].str.replace(r"\n", "", regex=True)
    elif data_type == "int":
        cur_bit = np.log2(pd_artists[col].max())
        if cur_bit > 32:
            pd_artists[col] = pd_artists[col].astype({col: "int64"})
        elif cur_bit > 16:
            pd_artists[col] = pd_artists[col].astype({col: "int32"})
        elif cur_bit > 8:
            pd_artists[col] = pd_artists[col].astype({col: "int16"})
        else:
            pd_artists[col] = pd_artists[col].astype({col: "int8"})
    elif data_type == "float":
        pd_artists[col] = pd_artists[col].astype({col: "float16"})

number int
artist_popularity int
followers int
genres list
artist_id str
name str
track_id str
track_name_prev str
type str

In [45]:
size = pd_artists[cols].memory_usage(deep=True).sum() / (1024**2)
print("Memory consumed: {:.2f} MB".format(size))

Memory consumed: 23.80 MB

In [46]:
pa_data = pa.Table.from_pandas(df=pd_artists, preserve_index=False)
pa_data

pyarrow.Table
number: int16
artist_popularity: int8
followers: int32
genres: string
artist_id: string
name: string
track_id: string
track_name_prev: string
type: string
----
number: [[-29843,-21871,-10461,17397,22233,...,28565,-23679,27393,5844,-12807]]
artist_popularity: [[39,25,42,32,68,...,29,48,22,47,30]]
followers: [[19783,3609,6887,41,54455,...,1021,40952,397,21667,163]]
genres: [["['finnish indie', 'suomi rock']","['south african hip hop']","['finnish dance pop', 'finnish pop', 'iskelma', 'suomi rock']","[]","['classical', 'classical performance', 'orchestra']",...,"['k-indie']","['australian pop', 'europop', 'girl group']","[]","[]","['jig and reel']"]]
artist_id: [["0027wHZDQXpRll4ckwDGad","002eDhqXlxtQHdaIKXyf3H","002oyMRzxTzEsBRLzACi8d","0036ceq10ETP3tGK3AHNcr","003f4bk13c6Q3gAUXv7dGJ",...,"7zXv0fZJFxrDkYxAtWxoGM","7zYGAXxAaq15C9eM29M8Fj","7zYM1dMloS7nJED4gjbQo9","7zyObVag8rUjItn71SkIrh","7zYOs83aBa0MGKTXjcqeIc"]]
name: [["Disco Ensemble","Blaklez","Stella","Digilake","Wiener Philharmoniker",...,"Risso","Eternal","The New Madness","Survive Said The Prophet","Dermot Byrne"]]
track_id: [["6Ovi0f2Ant45moF9zJNERx","3Ic2TBdG6l6AC2kTHnnsNj","2nWAYmsTPSpza7X5tY6ZrH","5GYReX6TdN4iYguaSDPKtl","2cwLN0WGZYUvRiSmBJD9rq",...,"0OV5CZKs1CNsavPmV9gZzg","5CNtRWCtAfWivjpjr8QdR2","7m1Fx1BPJvYppJbbPog0m8","6xWFzrQE9KIioQSYXlVN2t","2RbzVelNdSFosRBWc03Je7"]]
track_name_prev: [["track_19","track_46","track_16","track_16","track_40",...,"track_11","track_12","track_10","track_22","track_10"]]
type: [["artist","artist","artist","artist","artist",...,"artist","artist","artist","artist","artist"]]